<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Moderate Remarks</title>
  <link rel="stylesheet" href="{{{path.css}}}" type="text/css"> 
   <script>
     var basePath = "{{path.basePath}}";
   </script>
   <script src="{{{path.jsMath}}}"></script>
</head>
<body>
  <div id="header">
    <h1>Moderate Remarks</h1>
  </div>
  <div id="nav">
    <p><a href="{{path.index}}">All Problem Lists</a></p>
  </div>
  <div id="content">
    <p>This page is designed to help with choosing which remarks to publish, on which problemblocks.</p>
    <ul id="remarks">