      </ul>
    <br/>
    <hr/>
    <div class="footnote"> 
	To satisfy the (CC) Attribution requirement you must mention
    AIM, link to www.aimpl.org and attribute the editors
    and authors of the content you wish to use.
    <p> 
    We'd like to sincerely thank the following members of the Open Source community for their enthusiastic work on this project:-
    J Chris Anderson, Jan Lehnardt, Jason Davies and Benoit Chesneau.
    <p>
	</div>

    </div>
    <div>    
    <script src="{{path.json2}}"></script>
    <script src="{{path.jQuery}}"></script>
    <script src="{{path.jQueryCouch}}"></script>
    <script src="{{{path.couchApp}}}"></script>
  </body>
</html>