<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AIM Problem Lists</title>
    <link rel="stylesheet" href="{{{path.css}}}" type="text/css">
    <script>
      var basePath = "{{path.basePath}}";
    </script>
    <script src="{{{path.jsMath}}}"></script>
  </head>
  <body>
    <div id="header" bgcolor="ddd">
	<table><tr width="100%">
	<td width="22%" border="0">  <img src="http://aimath.org/images/aim210.gif" width=210 border="0" alt="AIM logo"> </td>
    <td width="15%" border="0"></td> <td> <h2> AIM Problem Lists </h2> </td>
    </tr></table>
	</div>
    <div id="nav">
      <p><a href="{{path.index}}">All Problem Lists</a></p>
    </div>
    <div id="content">
	    <p>
		The AIM Problem Lists are part of the Bibliographic Knowledge Network
		(<a href="http://bibkn.org">BKN</a>) project funded by a Cyber Enabled
		Discovery and Innovation (CDI) grant from the National Science
		Foundation.  Major partners in the project are UC Berkeley, Harvard,
		Stanford, and AIM.
		<p>
		Four sample problem lists went online on November 18, 2009.
		The lists are open to contributions by anyone,
		with oversight by experts in the subject of each problem list.
		More lists, with more features, are planned for the near future.
		<p>
        AIM Problem List content is licensed under a 
        Creative Commons, Attribution NoDerivative Works license.
        The right licensing structure for AIM Problem lists is a subject of active
        discussion currently, and we invite interested parties to contribute to the discussion
        and give feedback.
        <p>
		Questions or comments to <em>problemlists@aimath.org</em>
        <br/>
        <br/>
      <h3>Problem Lists</h3>
      <ul>