<form class="compose_remark">
  <h3>Compose a new remark</h3>
  <p><em>Your remark will be held for moderation by an editor, and will appear in the problem list after it is approved.</em></p>
  <p><label for="by">Name</label>
    <input type="text" name="by" value="">
  </p>
  <p><label for="email">Email</label>
    <input type="text" name="email" value="">
  </p>
  <p><label for="remark">Remark</label>
    <textarea name="remark" rows="6" cols="50"></textarea>
  </p>
  <p><input class="cancel" type="button" value="Cancel">&nbsp;&nbsp;&nbsp;<input class="pre" type="button" value="Preview">&nbsp;<input class="sub" type="submit" value="Save &rarr;"></p>
  <div class="math preview"></div>
  <div class="save"></div>
</form>
